<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p id="onlyp">Welcome to <%= title %> and not <%= badtitle %></p>

    <script src="/js/dummy.js"></script>
  </body>
</html>
